---
import path from 'path';

import getAllContent from '@utils/getAllContent.js';
import mdxNormalize from '@utils/mdxNormalize';

import ThemeSwitcher from '@components/ThemeSwitcher';
import SiteSearch from '@components/SiteSearch';
import MainNavigation from '@components/MainNavigation';
import ContentNavigation from '@components/ContentNavigation';

function buildNavigation(reference) {
  return reference.reduce((acc, entry) => {
    if (!acc[entry.collection]) {
      acc[entry.collection] = {};
    }
    acc[entry.collection][entry.data.title] = entry.path;
    return acc;
  }, {});
}

async function transform(metadata) {
  const body = await mdxNormalize(metadata.body);
  return {
    ...metadata,
    body,
    path: path.join(import.meta.env.BASE_URL, metadata.collection, metadata.slug),
  };
}

const content = await getAllContent(transform);
const navigation = buildNavigation(content);
const { outline } = Astro.props;

/*
When we're able to use the VPN in the remote build, we can use this instead

const themes  = await fetch('https://theme-api.uxp.godaddy.com/v1/themes')
  .then((response) => response.json())
  .then(({ themes }) => themes);
*/
const themes = null;
---

<style lang="scss">
  @import '../intents.scss';

  #chrome {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  header {
    display: flex;
    align-items: center;
    border-bottom: $ux-box-borderWidth solid $ux-box-borderColor;
  }

  #logo {
    margin-inline-end: auto;
    font-size: 2rem;
    color: inherit;
    font-weight: bolder;
    padding: 1rem;
    flex: 0 1 260px;
    border-right: $ux-box-borderWidth solid $ux-box-borderColor;
    text-align: center;
    text-decoration: none;
  }

  #controls {
    display: flex;
    padding: 1rem;
    gap: 1rem;
  }

  main {
    display: flex;
    flex: 1;
  }

  .main-child {
    overflow: auto;
    > * {
      height: 100%;
    }
  }

  #navigation {
    flex: 0 1 260px;
    border-right: $ux-box-borderWidth solid $ux-box-borderColor;
  }

  #max-width {
    max-width: min(800px, 100vw - 2rem);
    width: 100%;
  }

  #content {
    flex: 1 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
</style>

<div id="chrome">
  <header>
    <a id='logo' href={ import.meta.env.BASE_URL }>UXCore</a>
    <div id='controls'>
      <SiteSearch client:load reference={content} />
      <ThemeSwitcher client:load themes={themes} />
    </div>
  </header>
  <main>
    <div class="main-child" id="navigation">
      <MainNavigation tree={navigation} />
    </div>
    <div class="main-child" id="content">
      <div id="max-width"><slot /></div>
    </div>
    <ContentNavigation client:load outline={outline}/>
  </main>
</div>
