@import '../../intents.scss';

.vpn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
}

.select {
  font: inherit;
  padding: .5rem;
  border: $ux-control-borderWidth solid $ux-control-borderColor;
  border-radius: $ux-control-borderRadius;
  appearance: none;
  cursor: pointer;
  background-color: $ux-control-backgroundColor;
  color: $ux-control-foregroundColor;
}